{{ person.anrede }}

hiermit bestätigen wir Ihre Anmeldung für folgende Veranstaltung:

{{ event.Format.Bezeichnung }}:
»{{ event.Titel }}«
{{ event.Zeitangaben }}

{{ event.Veranstaltungsort }}
{{ event.Straße }}
{{ event.PLZ }} {{ event.Ort }}

Diese Bestätigung gilt für {{ person.an_name }} und ist nicht übertragbar. Sie können mehr über die Veranstaltung hier nachlesen:
{{ event.Seite }}

Mit freundlichen Grüßen


DES-Veranstaltungsteam

Desiderius-Erasmus-Stiftung e.V.
Unter den Linden 21
10117 Berlin
