{{ person.anrede }}

aufgrund der großen Nachfrage sind unsere Kapazitäten für folgende Veranstaltung bereits ausgelastet:

»{{ event.Titel }}«
{{ event.Inhalt }}
{{ event.Zeitangaben }}

Zu unserem großen Bedauern können wir Ihre Anmeldung daher leider nicht mehr berücksichtigen.

Mit freundlichen Grüßen


DES-Veranstaltungsteam

Desiderius-Erasmus-Stiftung e.V.
Unter den Linden 21
10117 Berlin

Wenn Sie keine Einladungen mehr von der DES erhalten möchten, antworten Sie auf diese Nachricht mit »Abbestellen«.'''
