{% extends 'crm/base.html' %}
{% load static %}
{% load admin_urls %}
{% block header %}
<title>Einladen</title>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row mt-5" id = "event">
    <div class="col-12">
      <h4>Veranstaltung</h4>
      <form action="javascript:void(0);">{% csrf_token %}
      <select id="event_selector">
        <option class = "veranstaltung" value = null>---
          {% for v in veranstaltungen %}
            <option name = "Veranstaltung" id = "veranstaltung_{{ v.id }}" class = "veranstaltung" value = "{{ v.id }}" data-invitation-text="{{ v.Einladungstext }}" data-public-site="{{ v.Seite }}" data-edit-link="{% url v|admin_urlname:'change' v.pk %}">{{ v.Beginn }}: {{ v.Bezeichnung }}
          {% endfor %}
      </select>
      </form>
      <h5 id="invitation_text_h5">Einladungstext</h5>
      </div>
  </div>

  <div class ="row mt-5">
    <div class ="col-12">
      <h4>Einzelpersonen einladen</h4>
    </div>
  </div>
  <div class ="row mt-5">
    <div class="col-6">
      {{ form.media }}
      <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <!-- <input type="submit" id ="send"/> -->
      </form>
<p><a href ="/admin/crm/person/add/" target="_blank">Neue Person anlegen</a></p>
    </div>
    <div class = "col-6">
      <button id="send-single">Absenden</button>
    </div>
    <p id="person_sent_message"></p>
  </div>

  <div class ="row mt-5" id ="groups">
    <div class = "col-12">
      <h4>Gruppen</h4>
      <select id="group_selector">
        <option class = "group" value = null>---
        {% for g in Gruppen %}
            <option id="group_{{p.id}}" name="group_{{ g.id }}" value = {{ g.id }} class ="group">
            {{g.name}}
        {% endfor %}
      </select>
    </div>
  </div>


  <div class ="row mt-5">
    <div class="col-12">
      <button id="send-all">An alle absenden</button>
    </div>
  </div>

  <div class ="row mt-5">
    <div class="col-12">
      <ul id="personen">
      </ul>
    </div>
  </div>


</div>

{% endblock %}

{% block javascript %}

  <script>

// Convert line breaks to html
function nl2br (str) {
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1<br>$2');
};
// When event is selected, show invitation text
$(document).ready(function(){
    $("#event_selector").click(function () {
      var selected = $(this).children("option:selected");
      $("#invitation_text").remove();
      console.log(selected.data("public-site")); // TODO: Add link to public site on change
      $( "<p id='invitation_text'>" + nl2br(selected.data("invitation-text")) + "</p>" ).insertAfter( "#invitation_text_h5" );
    });
});


function send(person_id,event_id) {
        $.ajax({
          url: '{% url 'send_invitations' %}',
          data: {
            'person_id': person_id,
            'event_id':event_id
          },
          dataType: 'json',
          success: function (data) {
            console.log(data);
            alert(data.message);
          }
        })
};

$(document).ready(function(){
    $("#send-single").click(function () {
      var options = $("#id_Familienname").children()
      // last option is selected person
      var person_id = options[options.length-1].value;
      var event_id = $("#event_selector").children("option:selected")[0].value;
      console.log(event_id);
      send(person_id,event_id);

    });
});

$(document).ready(function(){
    $("#send-all").click(function () {
      var options = $("#id_Familienname").children()
      // last option is selected person
      var person_id = options[options.length-1].value;
      var event_id = $("#event_selector").children("option:selected")[0].value;
      console.log(event_id);
      send_all();
    });
});

function send_all(){
  var event_id = $("#event_selector").children("option:selected")[0].value;
  var persons = document.getElementsByClassName("person"); // Get all person nodes
  var pLen = persons.length;
  if (event_id == null) {
    alert("No event selected!"); // Can be replaced by html warning
  } else {
    for (var i = 0; i < pLen; i++) { // Iterate through returned records
      person = persons[i];
      console.log("Person:" + person);
      console.log("Person.value:" + person.value);
      $.ajax({
        url: '{% url 'send_invitations' %}',
        data: {
          'person_id': person.value,
          'event_id':event_id
        },
        dataType: 'json',
        success: function (data) {
          console.log("Data attr message:" + data.message);

          var person_id = data.person_id;
          console.log(person_id);
          // _person gets ul node
          var _person = document.getElementById("person_" + person_id).childNodes[0];
          _person.style.fontWeight = "900";
          if (data['e_mail'] == 0) {
            _person.style.color = 'red';
            _person.textContent = _person.textContent + " nicht versendet (keine E-Mail)";
          } else {
            _person.textContent = _person.textContent + ": " + data.message;
          }
        }
      });}
      }
}
</script>

  <script>
    // Script for building watchers that add and remove persons from invitation list when boxes checked
    $("#group_selector").change(function () { // triggered when box is checked or unchecked
      var group_id = $(this).val(); // Prio id is saved in value attribute
      var ul = document.querySelector('#personen');
      console.log("group_id:" + group_id);
      var newUl = document.createElement('ul');
      newUl.id = "personen";
      ul.parentNode.replaceChild(newUl, ul);
      // TODO: Remove existing elements from DOM before adding new ones!!
      // var persons = document.getElementsByClassName("person");
      // var pLen = persons.length;
      // for (var i = 0; i < pLen; i++) { // Iterate through returned records
      //   var element = persons[i];
      //   element.parentNode.removeChild(element);
      // }

        $.ajax({
          url: '{% url "get_people" %}',
          data: {
            'group_id': group_id
          },
          dataType: 'json',
          success: function (data) {
            var persons, pLen, i;
            persons = data["html"];
            person_ids = data["person_ids"]; // same order as persons
            pLen = persons.length; // Can also be replaced with data returned
            for (i = 0; i < pLen; i++) { // Iterate through returned records
              var anode = document.createElement("A"); // Parent node of list node
              anode.setAttribute('target','_blank') // Set link to open in new window
              var node = document.createElement("LI"); // Displayed as list element
              node.id = 'person_' + person_ids[i]; // Create id for easy updating
              node.className = "person"; // Class name, also used to delete
              node.setAttribute('value', person_ids[i]); // Person.id stored in value
              anode.href = '/admin/crm/person/' + person_ids[i] + '/change/'; // Link to edit page
              var textnode = document.createTextNode(persons[i]);
              anode.appendChild(textnode);
              node.appendChild(anode);
              document.getElementById("personen").appendChild(node);
            } // Add li tag to ul
          }
        });
      });
  </script>
{% endblock %}
