{% load admin_urls %}
<div class="container-fluid">
    <div class ="row mt-3">
        <div class = "col-xs-12 col-s-12 col-md-4 col-lg-3 mt-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for category_name, category_dict in category_message_dict.items %}
                    <a class="nav-link {% if forloop.first %}active{% endif%}" id="v-pills-{{ category_name|slugify }}-tab" data-toggle="pill" href="#v-pills-{{ category_name|slugify }}" role="tab" aria-controls="v-pills-{{ category_name|slugify }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ category_name }}</a>
                {% endfor %}
            </div>
        </div>
        {# Tab content divs #}
        <div class = "col-xs-12 col-s-12 col-md-8 col-lg-9 mt-3">
            <div class="tab-content" id="v-pills-tabContent">
                {% for category_name, category_dict in category_message_dict.items %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif%}" id="v-pills-{{ category_name|slugify }}" role="tabpanel" aria-labelledby="v-pills-{{ category_name|slugify }}-tab">
                        <ul "list-group">
                            <li class = "list-group-item list-group-item-action active"><h2>{{ category_name }}</h2></li>
                        {% for message_part_name,message_list in category_dict.items reversed %}
                            <li class = "list-group-item list-group-item-warning">
                                <h4>{{ message_part_name }}</h4>
                            </li>
                            {% for message in message_list %}
                            {% for form in formset %}
                                {% if form.instance == message %}
                                <li class="list-group-item{% if not forloop.parentloop.first %} fallback-template{% endif %}">                  
                                    {% if request.user.is_superuser %}
                                        <a href ="{% url form.instance|admin_urlname:'change' form.instance.pk %}" target ="_blank">
                                            {{ form.instance }}
                                        </a>
                                    {% else %}
                                        {{ form.instance }}
                                    {% endif %}
                
                                    {% for field in form %}
                                    
                                        {% if form.instance.connections.first.content_object == obj %}<p>individuelle Vorlage</p>
                                            {% include 'crm/ajax_forms/input_div.html' %}
                                        {% else %}
                                        <p><a href="{% url 'create_specific_template' model_name object_id form.instance.pk %}" target="_blank">individuelle Vorlage erstellen
                                            <i class="fas fa-plus-circle icon"></i>
                                            </a></p>
                                        
                                            {% include 'crm/ajax_forms/input_div.html' with readonly=True %}
                                        {% endif %}
                                    
                                    {% endfor %}
                                    
                                </li>
                                {% endif %}              
                            {% endfor %}
                            {% endfor %}        
                
                        {% endfor %}
                        </ul>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>